<a href="http://localhost:3000/greet">Greet Your Users !!!!</a> <br><br>
<h1> Welcome to my Greetings App </h1>
<div>
<p> Choose which language to greet the user. </p>
<p> We will be able to count how many times the user has been counted. </p>
<p> Each user will only be counted once. </p>
