<a href="http://localhost:3000/home">HOME</a> <br>

<a href="http://localhost:3000/greet">Back to Greet</a>

  <h1> Users Greeted </h1>
<ul>
  {{#each usersGreetedOutput}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>
